*{margin: 0;padding: 0;box-sizing: border-box;}
ul,dl,ol {list-style: none;}

button{border: none;}

.slider{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 0px 50px;
    overflow: hidden;
}